/* google font import*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Poppins:wght@400;500;600;700;800;900&display=swap');

/* font family
font-family: 'Inter', sans-serif;
font-family: 'Poppins', sans-serif;
*/

/* common code start */
:root {
    --common-color: #3A3A3A;
}

.small-text {
    color: var(--common-color);
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin: 15px 0;
}

.btn {
    padding: 5px 20px;
    border: 0;
    border-radius: 40px;
    color: #ffffff;
    background: #E02C6D;
    font-size: 1rem;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    margin-top: 10px;
}

.btn:active {
    color: gray;
}

/* common code end */
/* header start */
.header {
    margin: 50px 120px;
    font-family: 'Poppins', sans-serif;
}

/* nav start */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav .brand {
    color: var(--common-color);
    font-size: 1.5rem;
    font-weight: 700;
}

.nav ul {
    display: flex;
    gap: 30px;
}

.nav li {
    list-style: none;
}

.nav li>a {
    text-decoration: none;
    transition: all ease .05s;
}

.nav li>a:hover {
    padding: 5px;
    border-radius: 10px;
    background-color: lightgray;
}

.header-poster {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    gap: 100px;
}

.header-content {
    width: 50%;
}

.header-title {
    color: var(--common-color);
    font-size: 3.25rem;
    font-weight: 700;
    margin: 0;
}

.header-img {
    position: relative;
}

.header-img .circle {
    width: 80%;
    position: absolute;
    z-index: 1;
}

.header-img .camera {
    width: 75%;
    position: relative;
    top: 16px;
    left: 12px;
    z-index: 10;
}

/* main section start */
main {
    margin: 0 165px;
}

main section {
    margin-top: 100px;
}

/* brand shop section start */
.logo-container img {
    margin: 0 30px;
}


/* media query part start */

/* small device query */
@media screen and (max-width:576px) {
    .header {
        margin: 20px;
        text-align: center;
    }

    .nav {
        flex-direction: column;
        margin: 10px;
    }

    .nav ul {
        gap: 0px;
        margin-left: -20px;
    }

    .nav li {
        margin: 0 17px;
    }

    .header-poster {
        flex-direction: column-reverse;
        gap: 50px;
    }

    .header-content {
        width: 70%;
        margin: 0 auto;
    }

    .header-title {
        font-size: 1.75rem;
    }

    .header-content .small-text {
        font-size: .87rem;
    }

    .header-img {
        margin: 0 auto;
    }

    .header-img .circle {
        width: 60%;
    }

    .header-img .camera {
        width: 50%;
        top: 30px;
        left: 25px;
    }

    /* main part start */
    main {
        margin: 0 10px;
    }
    /* logo part start */
    .logo-container{
        text-align: center;
    }
    .logo-container img {
        margin: 10px 20px;
    }
}

/* medium device query */
@media screen and (min-width:576px) and (max-width:768px) {
    .header {
        margin: 20px;
    }

    .nav ul {
        gap: 20px;
    }

    .header-content {
        width: 100%;
    }

    .header-poster {
        margin-top: 20px;
        gap: 20px;
    }

    .header-title {
        font-size: 2.18rem;
    }

    .header-content .small-text {
        font-size: 0.93rem;
    }

    .header-img .circle,
    .camera {
        width: 100%;
    }

    .header-img .camera {
        top: 35px;
        left: 30px;
    }

    /* main section start */
    main {
        margin: 0 10px;
    }
    .logo-container img {
        margin: 12px 30px;
    }
}